.input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important; 
    border-right: none !important;
}

.inputError {
    border: 0.0625rem solid var(--error-color);
    color: var(--error-color);
    border-right: none;
}

.buttonError {
    border: 0.0625rem solid var(--error-color) !important;
    color: var(--error-color) !important;
}

.inputError::placeholder {
    color: var(--error-color);
}

.inputBlock {
    display: flex;
}

.button {
    border: 0.0625rem solid var(--gray-color);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: var(--white-color);
    -webkit-transition: border-color 100ms ease;
    transition: border-color 100ms ease;
    min-height: 2.25rem;
    color: var(--primary-color);
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.icon {
    width: 20px;
    height: 20px;
}